* {
    box-sizing: border-box;
}

.swiper-container {
    max-width: 100%;
    overflow-x: hidden;
}

.swiper-slide {
    background-size: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

img {
    height: 600px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: grey;
    opacity: 1;
    outline: 2px solid blue;
}

.swiper-pagination-bullet {
    background-color: red;
    opacity: 1;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

div[class*='swiper-button'] {
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    /* Fallback. Will be visible with custom system colors in Forced Color Modes */
    padding: 3rem;
}